/* You can add global styles to this file, and also import other style files */

:root {
    --col-green: #41ca6e;
    --col-orange: #fab153;
    --col-purple: #7277d5;
    --col-blue: #4ec2e7;
    --col-orange-dark: #f87d51;
    --col-red-light: #ed5466;
}

body  {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

