/* You can add global styles to this file, and also import other style files */

:root {
    --col-green: #41ca6e;
    --col-orange: #fab153;
    --col-purple: #7277d5;
    --col-blue: #4ec2e7;
    --col-orange-dark: #f87d51;
    --col-red-light: #ed5466;
}

body  {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff0 !important;
    background-clip: padding-box;
    border: 3px solid #fff !important;
    opacity: 0.7 !important;
    transition: opacity 0.6s ease;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #fff !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
