.features-container {
   
    content: "";
    display: table;
    clear: both;
    margin-top: -90px;

    .feature-card {
        display: flex;
        align-items: center;
        float: left;
        width: 33.33%;
        height: 500px;
    }
}

.feature-img img {
    width: 90%;
    height: 80%;
    object-fit: contain;
}

.feature-logo {
    margin-bottom: 14px;
}
.feature-logo img {
    height: 40px;
    width: 100px;
    object-fit: contain;
}

.feature-content {
    margin-left: 4rem;
    margin-right: 1rem;
    color: white;
}

.feature-desc {
    text-transform: uppercase;
}
.feature-title {
    font-size: 1.5rem;
}

.border-line {
    border-top: 2px solid white;
    margin: 15px 15px 15px 0
}

.picsum-img-wrapper {
    max-height: 88vh;
    min-height: 88vh;
}

@media screen and (max-width: 640px) {
    .feature-img img {
        display: flex;
        justify-content: center;
        width: 60%;
        height: auto;
        margin: auto;
    }

    .feature-content {
        padding: 20px;
    }

    .lastImg {
        margin-top: 35%;
    }
}